{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Homebudget{% endblock %}</title>

    <script defer src="https://unpkg.com/alpinejs@3.2.4/dist/cdn.min.js"></script>
    <script src="{% static 'js/layout.js' %}"></script>

</head>

<body>
    {% #center %}
    <space-l></space-l>
    <nav>
        <cluster-l justify="space-between">
            <cluster-l space="var(--s3)">
                <div>Maandoverzicht</div>
                <cluster-l role="list">
                    <div role="listitem"><a href="/">Home</a></div>
                    <div role="listitem"><a href="{% url 'transactions:upload' %}">New transactions</a></div>
                </cluster-l>
            </cluster-l>
            <div>Not sure</div>
        </cluster-l>
    </nav>
    {% /center %}

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    {% block script %}{%endblock%}
</body>

</html>