{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Homebudget{% endblock %}</title>


    <script type="module">
        import RefreshRuntime from 'http://localhost:3000/static/@react-refresh' // TODO: Fix this with settings url
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>

    {% vite_hmr_client %}
    {% vite_asset 'js/main.js' %} <!-- TODO: remove -->
    {%  {% endcomment %}block head %}{% endblock %}
</head>

<body>
    <section class="center-l" style="--width: 110ch;">
        <space-l></space-l>
        <nav class="cluster" style="--justify: space-between;">
            <div class="cluster" style="--space: var(--s3);">
                <div>Maandoverzicht</div>
                <ul class="cluster">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'transactions:upload' %}">New transactions</a></li>
                </ul>
            </div>
            <div>Not sure</div>
        </nav>
    </section>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

</body>

</html>