{% extends "base.html" %}
{% load statistics %}
{% load overviews %}

{% block content %}
{% if form %}
<div class="center">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form }}
		<div>
			<input type="submit" value="Upload" />
		</div>
	</form>
</div>
{% endif %}

{% if results %}
<div class="center">
	<div class="stack">
		{% transactions_box transactions=results.transactions|top_expenses:5 title='Uitgaven' sub_title='Top 5 grootste uitgaven' %}

		{% transactions_box transactions=results.transactions|top_incomes:5 title='Inkomsten' sub_title='Top 5 grootste inkomsten' %}

		<section class="box stack">
			<h2>Transactions</h2>

			<table>
				<tbody>
					{% for transaction in results.transactions %}
					<tr>
						<td>{{ transaction.date }}</td>
						<td>{{ transaction.other_party.name }}</td>
						<td>{{ transaction.amount }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
</div>
{% endif %}
{% endblock %}